<!-- Preloader -->
<div id="tt-preloader">
  <div id="pre-status">
    <div class="preload-placeholder"></div>
  </div>
</div>

<!-- Home Section -->
<section id="home" class="tt-fullHeight" data-stellar-vertical-offset="50" data-stellar-background-ratio="0.2">
  <div class="intro">
    <div class="intro-sub">Jaime Agudo</div>
    <h1>Desarrollador <span>Web</span></h1>
    <p>Profesional con más de 10 años de experiencia en el desarrollo de aplicaciones web<br> Entusiasta de la programación y las nuevas tecnologías <br> En continuo proceso de aprendizaje y evolucíon</p>

    <div class="social-icons">
      <ul class="list-inline">
        <li><a href="https://github.com/jaimeagudovillanueva" target="_blank"><i class="fa fa-github" target="_blank" title="Github"></i></a></li>
        <li><a href="https://www.linkedin.com/in/jaime-agudo-villanueva-a4bb8333/" target="_blank"><i class="fa fa-linkedin" title="Linkedin"></i></a></li>
      </ul>
    </div> <!-- /.social-icons -->
  </div>

  <div class="mouse-icon">
    <div class="wheel"></div>
  </div>
</section><!-- End Home Section -->

<!-- Navigation -->
<header class="header">
  <nav class="navbar navbar-custom" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#custom-collapse">
          <span class="sr-only">Habilitar navegación</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">Jaime Agudo</a>
      </div>

      <div class="collapse navbar-collapse" id="custom-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#home">Inicio</a></li>
          <li><a href="#about">Perfil</a></li>
          <li><a href="#resume">CV</a></li>
          <li><a href="#skills">Habilidades</a></li>
          <li><a href="#works">Tecnologías</a></li>
          <li><a href="#contact">Contacto</a></li>
        </ul>
      </div>
    </div><!-- .container -->
  </nav>
</header><!-- End Navigation -->


  <!-- About Section -->
  <section id="about" class="about-section section-padding">
    <div class="container">
      <h2 class="section-title wow fadeInUp">Perfil</h2>

      <div class="row">

        <div class="col-md-4 col-md-push-8">
          <div class="biography">
            <div class="myphoto">
              <img src="assets/images/myphoto.jpg" alt="" class="img-fluid img-circle img-responsive">
            </div>
            <ul>
              <li><strong>Nombre:</strong> Jaime Agudo</li>
              <li><strong>Fecha de nacimiento:</strong> 03/04/1983</li>
              <li><strong>Dirección:</strong> Calle Bustos 4, 2ºC, Madrid, España</li>
              <li><strong>Nacionalidad:</strong> Española</li>
              <li><strong>Teléfono:</strong> (+34) 662362559</li>
              <li><strong>Email:</strong> jaimeagudovillanueva@gmail.com</li>
            </ul>
          </div>
        </div> <!-- col-md-4 -->

        <div class="col-md-8 col-md-pull-4">
          <div class="short-info wow fadeInUp">
            <h3>Objetivos</h3>
            <p>Intento mejorar lo que soy y lo que hago de manera constante. Por ello busco seguir aprendiendo en un entorno de trabajo proactivo, formando parte de una empresa que me permita desarrollar mi carrera profesional de forma eficiente.</p>
          </div>

          <div class="short-info wow fadeInUp">
            <h3>¿Qué hago?</h3>
            <p>Trabajo desarrollando aplicaciones web Java desde hace más de 10 años. Perfil fullstack con amplia experiencia tanto en desarrollos frontend como en backend. Rápida integración en grupos de trabajo y posibilidad de formar y dirigir a compañeros menos experimentados.</p>

            <ul class="list-check">
              <li>Fullstack Java</li>
              <li>Análisis y diseño de aplicaciones</li>
              <li>Dirección de grupos de trabajo</li>
              <li>Formación</li>
              <li>Metodologías Ágiles</li>
              <li>Gestión de proyectos</li>
            </ul>
          </div>

          <div class="download-button">
            <a class="btn btn-info btn-lg" href="#contact"><i class="fa fa-paper-plane"></i>Escríbeme</a>
            <a class="btn btn-primary btn-lg" href="#"><i class="fa fa-download"></i>Descarga mi cv</a>
          </div>
        </div>
      </div> <!-- /.row -->
    </div> <!-- /.container -->
  </section><!-- End About Section -->

    <!-- Facts Section -->
    <section id="facts" class="facts-section text-center" data-stellar-vertical-offset="50" data-stellar-background-ratio="0.2">
      <div class="tt-overlay-bg">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="count-wrap">
                <div class="col-sm-3 col-xs-6">
                  <i class="fa fa-flask"></i>
                  <p>Experiencia</p>
                </div>
                <div class="col-sm-3 col-xs-6"> 
                  <i class="fa fa-thumbs-up"></i>               
                  <p>Actitud</p>
                </div>
                <div class="col-sm-3 col-xs-6">
                  <i class="fa fa-users"></i>
                  <p>Compañerismo</p>
                </div>
                <div class="col-sm-3 col-xs-6">
                  <i class="fa fa-trophy"></i>
                  <p>Resultados</p>
                </div>
              </div><!-- /count-wrap -->
            </div><!-- /.col-md-12 -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </div>
    </section> <!-- End Facts Section -->

  <!-- Resume Section -->
  <section id="resume" class="resume-section section-padding">
      <div class="container">
          <h2 class="section-title wow fadeInUp">CV</h2>
          <div class="row">
              <div class="col-md-12">
                  <div class="resume-title">
                      <h3>Formación académica</h3>
                  </div>
                  <div class="resume">
                      <ul class="timeline">
                          <li>
                              <div class="posted-date">
                                  <span class="month">2010</span>
                              </div><!-- /posted-date -->

                              <div class="timeline-panel wow fadeInUp">
                                  <div class="timeline-content">
                                      <div class="timeline-heading">
                                          <h3>Ingeniero superior en informática</h3>
                                          <span>Universidad Complutense de Madrid (UCM)</span>
                                      </div><!-- /timeline-heading -->
                                  </div> <!-- /timeline-content -->
                              </div><!-- /timeline-panel -->
                          </li>    
                      </ul>
                  </div>
              </div>
          </div><!-- /row -->

          <div class="row">
              <div class="col-md-12">
                  <div class="resume-title">
                      <h3>Experiencia laboral</h3>
                  </div>
                  <div class="resume">
                      <ul class="timeline">
                          <li class="timeline-inverted">
                              <div class="posted-date">
                                <span class="month">2015-Actualmente</span>
                              </div><!-- /posted-date -->

                              <div class="timeline-panel wow fadeInUp">
                                  <div class="timeline-content">
                                      <div class="timeline-heading">
                                          <h3>Analista Funcional</h3>
                                          <span>Ibermática</span>
                                      </div><!-- /timeline-heading -->

                                      <div class="timeline-body">
                                          <p>Análisis, diseño, desarrollo y mantenimiento de las aplicaciones. Diseño y construcción de las base de datos. Implantación en el cliente. Gestión de los recursos y plazos de entrega. Formación y control de equipos de programadores en las tecnologías relevantes para los proyectos implicados.</p>
                                      </div><!-- /timeline-body -->
                                  </div> <!-- /timeline-content -->
                              </div> <!-- /timeline-panel -->
                          </li>

                          <li>
                              <div class="posted-date">
                                <span class="month">2010-2015</span>
                              </div><!-- /posted-date -->

                              <div class="timeline-panel wow fadeInUp">
                                  <div class="timeline-content">
                                      <div class="timeline-heading">
                                            <h3>Analista Programador</h3>
                                          <span>Bilbomática</span>
                                      </div><!-- /timeline-heading -->

                                      <div class="timeline-body">
                                          <p>Análisis, diseño, desarrollo y mantenimiento de las aplicaciones. Diseño y construcción de las base de datos. Implantación en el cliente. Gestión de los recursos y plazos de entrega.</p>
                                      </div><!-- /timeline-body -->
                                  </div> <!-- /timeline-content -->
                              </div><!-- /timeline-panel -->
                          </li>

                          <li class="timeline-inverted">
                              <div class="posted-date">
                                <span class="month">2007-2010</span>
                              </div><!-- /posted-date -->

                              <div class="timeline-panel wow fadeInUp">
                                  <div class="timeline-content">
                                      <div class="timeline-heading">
                                          <h3>Programador senior</h3>
                                          <span>Ciberaula International Training</span>
                                      </div><!-- /timeline-heading -->

                                      <div class="timeline-body">
                                          <p>Diseño, desarrollo y mantenimiento de las aplicaciones. Diseño y construcción de las base de datos. Implantación en el cliente.</p>
                                      </div><!-- /timeline-body -->
                                  </div> <!-- /timeline-content -->
                              </div><!-- /timeline-panel -->
                          </li>
                      </ul>
                  </div>
              </div>
          </div><!-- /row -->
      </div><!-- /.container -->
  </section><!-- End Resume Section -->

  <lista-tecnologias></lista-tecnologias>

<!-- Skills Section -->
  <section id="skills" class="skills-section section-padding">
    <div class="container">
      <h2 class="section-title wow fadeInUp">Habilidades</h2>

      <div class="row more-skill text-center">
        <div class="col-xs-12 col-sm-4 col-md-2">
            <div class="chart" data-percent="95" data-color="e74c3c">
                  <span class="percent"></span>
                  <div class="chart-text">
                    <span>Trabajo en equipo</span>
                  </div>
              </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-2">
            <div class="chart" data-percent="85" data-color="2ecc71">
                  <span class="percent"></span>
                  <div class="chart-text">
                    <span>Proactividad</span>
                  </div>
              </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-2">
            <div class="chart" data-percent="80" data-color="3498db">
                  <span class="percent"></span>
                  <div class="chart-text">
                    <span>Planificación</span>
                  </div>
              </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-2">
            <div class="chart" data-percent="80" data-color="3498db">
                  <span class="percent"></span>
                  <div class="chart-text">
                    <span>Experiencia</span>
                  </div>
              </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-2">
            <div class="chart" data-percent="90" data-color="3498db">
                  <span class="percent"></span>
                  <div class="chart-text">
                    <span>Flexibilidad</span>
                  </div>
              </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-2">
            <div class="chart" data-percent="100" data-color="3498db">
                  <span class="percent"></span>
                  <div class="chart-text">
                    <span>Motivación</span>
                  </div>
              </div>
          </div>
      </div>
    </div><!-- /.container -->
  </section><!-- End Skills Section -->

  <!-- Contact Section -->
  <section id="contact" class="contact-section section-padding">
    <div class="container">
      <h2 class="section-title wow fadeInUp">Contacto</h2>
      <div class="row">
        <div class="col-md-6">
          <div class="contact-form">
            <strong>Escríbeme</strong>
            <form name="contact-form" method="post" action="assets/php/sendemail.php">
              <div class="form-group">
                <label for="InputName1">Nombre</label>
                <input type="text" name="name" class="form-control" id="InputName1" required="">
              </div>
              <div class="form-group">
                <label for="InputEmail1">Email</label>
                <input type="email" name="email" class="form-control" id="InputEmail1" required="">
              </div>
              <div class="form-group">
                <label for="InputSubject">Asunto</label>
                <input type="text" name="subject" class="form-control" id="InputSubject">
              </div>
              <div class="form-group">
                <label for="InputTextarea">Mensaje</label>
                <textarea name="message" class="form-control" id="InputTextarea" rows="5" required=""></textarea>
              </div>

              <button type="submit" name="submit" class="btn btn-primary">Enviar mensaje</button>
            </form>
          </div>
        </div><!-- /.col-md-6 -->

        <div class="col-md-6">
          <div class="row center-xs">
            <div class="col-sm-6">
              <i class="fa fa-map-marker"></i>
              <address>
                <strong>Dirección</strong>
                Calle Bustos 4, 2º C<br>
                Madrid, España<br>
              </address>
            </div>

            <div class="col-sm-6">
              <i class="fa fa-mobile"></i>
              <div class="contact-number">
                <strong>Teléfono</strong>
                (+34) 662362559
              </div>
            </div>
          </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="location-map">
              <div id="mapCanvas" class="map-canvas"></div>
            </div>
          </div>
        </div>

        </div>
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section><!-- End Contact Section -->


<!-- Footer Section -->
  <footer class="footer-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="copyright text-center">
          </div>
        </div>
      </div>
    </div>
  </footer><!-- End Footer Section -->


<!-- Scroll-up -->
<div class="scroll-up">
  <a href="#home"><i class="fa fa-angle-up"></i></a>
</div>
